*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    height:70px;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    align-items: center;
    color: white;
}


.logo{
margin-left: 50PX;
display: flex;
align-items: baseline;
}
.logo>img{
    height: 40px;
    border-bottom: 2px solid white;
}
.logo>a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding-left: 10px;
}

.search{
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    align-items: center;
}
.search>input{
    padding-left: 10px;
    height: 30px;
    width: 350px;
    border: none;
}
.search>i{
    font-size: 16px;
    font-weight: bold;
    /* border: 1px solid rgb(238, 9, 9); */
    padding: 7px 14px;
    margin: 0;
    background-color: white;
    color:black;
    cursor: pointer;
}







.account{
    margin-right: 50PX; 
}
nav i{
    font-size: 30px;
    margin: 0 15px;
    cursor: pointer;
}
.account button{
    margin: 0 7px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    padding: 6px 12px;
    border-radius: 10px 0 10px 0;
    font-weight: bold;
}



.hero>img{
    /* margin-top: 20px; */
    height: 300px;
    width: 100%;
}






.bottom{
    background: #06283D;
    /* background-image:linear-gradient(to bottom right, red, blue); */
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
    border-bottom:3px solid rgb(245, 147, 19) ;
}
.bnav{
    display: flex;
    flex-direction: column;
}
.Mail{
    width: 300px;
}
.bnav p ,.bnav a{
   text-decoration: none;
   margin-bottom: 7px;
    color: aliceblue;
}
.bnav h2{
    color: rgb(245, 147, 19);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 14px;
}
.bnav a:hover{
    text-decoration:underline 2px ;
}

.social{
    padding: 10px 0;
    color: white;
    background: #06283D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon i{
    font-size: 23px;
    margin: 0 5px;
}
.location i{
    font-size: 35px;
}