*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: center;
    /* background-color: #5f6975; */
}
nav ul{
    list-style: none;
}






.containar{
    display: flex;
}
/* .containar>li{
    display: inline-block;
    margin-left: -5px;
} */




nav a{
    padding: 10px 15px;
    /* background-color: #5f6975; */
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;


    display: block;
}






nav li:hover>a{
    background-color: #d512e7;
    cursor: pointer;
   border-top-left-radius: 50%;
   border-bottom-right-radius: 50%;
   border-top-right-radius: 10%;
   border-bottom-left-radius:10%;
}


/* for dropdown each step */


.sub1{
    display: none;
}
.containar>li{
    position: relative;
}
.containar>li:hover>.sub1{
    position: absolute;
    display: block;
}


/* for dropdown each step */

.sub2{
    display: none; 
}
.sub1>li{
    position: relative;
}
.sub1>li:hover>.sub2{
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
}

/* for dropdown each step */

.sub3{
    display: none;
}
.sub2>li{
    position: relative;
}
.sub2>li:hover>.sub3{
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
}

body{
    height: 100vh;
    background-image: url(pic/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}